pandas==2.2.0
pandas-gbq==0.29.0
pyarrow==15.0.0
prefect==2.14.21
python-dotenv==1.0.0
google-cloud-bigquery==3.13.0
google-auth==2.25.2
requests==2.31.0
griffe<0.39 

# Desenvolvimento e testes
pytest==7.4.3
pytest-cov==4.1.0
ruff==0.1.8